section.page

  h2 User interface help

  p Queries default to search the <code>name</code> field when using the search box, but you can also search on <code>type</code>. Here are some example queries (click to run the query).

  h4 Search by name
  p Get information on a vulnerability, <strong>CVE-2014-9423</strong>: <a href='/search/CVE-2014-9423'>/search/CVE-2014-9423</a>
  p Get information on an IP:port, <strong>10.32.92.230:41721</strong>: <a href='/search/name=10.32.92.230:41721'>/search/name=10.32.92.230:41721</a>

  h4 Search by type
  p Get <strong>all vulnerabilities</strong>: <a href='/search/type=vulnerability'>/search/type=vulnerability</a>


  h2 API help

  p The HTTP/JSON API can also be called directly. Here are some examples (copy into a terminal to run using curl).

  h4 Search by name
  p Get information on a vulnerability, <strong>CVE-2014-9423</strong>: <kbd>curl -XGET -i -H 'accept-encoding: application/json' <span data-hook="apiUrl"></span>/api/search\?name\=CVE-2014-9423</kbd>
  pre.
    $ curl -XGET -i -H 'accept-encoding: application/json' <span data-hook="apiUrl"></span>/api/search\?name\=CVE-2014-9423
    HTTP/1.1 200 OK
    X-Powered-By: Express
    X-XSS-Protection: 1; mode=block
    X-Content-Type-Options: nosniff
    Content-Type: application/json; charset=utf-8
    Content-Length: 1007
    ETag: W/"ruChy4ddVG3a+zgMM7n0xQ=="
    Vary: Accept-Encoding
    Date: Fri, 20 Feb 2015 20:53:56 GMT
    Connection: keep-alive

    [{"availabilityImpact":"NONE","accessVector":"NETWORK","cvssDate":"2015-02-19T11:07:27.267-05:00","integrityImpact":"NONE","accessComplexity":"LOW","modifiedDate":1424362172313,"vertexType":"vulnerability","references":["https://github.com/krb5/krb5/commit/5bb8a6b9c9eb8dd22bc9526751610aaa255ead9c","http://web.mit.edu/kerberos/advisories/MITKRB5-SA-2015-001.txt","http://web.mit.edu/kerberos/advisories/2015-001-patch-r113.txt"],"source":"NVD","cweNumber":"CWE-200","description":"The svcauth_gss_accept_sec_context function in lib/rpc/svc_auth_gss.c in MIT Kerberos 5 (aka krb5) 1.11.x through 1.11.5, 1.12.x through 1.12.2, and 1.13.x before 1.13.1 transmits uninitialized interposer data to clients, which allows remote attackers to obtain sensitive information from process heap memory by sniffing the network for data in a handle field.","name":"CVE-2014-9423","cvssScore":5,"publishedDate":1424347147500,"confidentialityImpact":"PARTIAL","accessAuthentication":"NONE","_id":5024768,"_type":"vertex"}]

  h4 Search by type
  p Get <strong>all vulnerabilities</strong> (will only return a few results, you will need to use paging to get more): <kbd>curl -XGET -i -H 'accept-encoding: application/json' <span data-hook="apiUrl"></span>/api/search\?vertexType\=malware</kbd>
  pre.
    $ curl -XGET -i -H 'accept-encoding: application/json' <span data-hook="apiUrl"></span>/api/search\?vertexType\=malware
    HTTP/1.1 200 OK
    X-Powered-By: Express
    X-XSS-Protection: 1; mode=block
    X-Content-Type-Options: nosniff
    Content-Type: application/json; charset=utf-8
    Content-Length: 1766
    ETag: W/"Yh0JfHA+Ee+QQoDaVtoJ1A=="
    Vary: Accept-Encoding
    Date: Fri, 20 Feb 2015 20:49:18 GMT
    Connection: keep-alive

    [{"vertexType":"malware","source":"CleanMx(virus)","name":"CleanMx_57880856","aliases":"W32%2FBuzus.EZWA%21tr","_id":2178048,"_type":"vertex"},{"vertexType":"malware","source":"CleanMx(virus)","name":"CleanMx_57880855","aliases":"HEUR%2FQVM10.1.Malware.Gen","_id":2186240,"_type":"vertex"},{"vertexType":"malware","source":"CleanMx(virus)","name":"CleanMx_57880854","aliases":"HEUR%2FQVM10.1.Malware.Gen","_id":2191872,"_type":"vertex"},{"vertexType":"malware","md5hashes":"315310e4902e30562df0ab8a904ac1b6","source":"CleanMx(virus)","name":"CleanMx_57880853","aliases":"Win32%2FBaiduSearch+potentially+unwanted","_id":2193664,"_type":"vertex"},{"vertexType":"malware","md5hashes":"8aac478bb8ba38a3b03a3d30cda9b510","source":"CleanMx(virus)","name":"CleanMx_57880852","aliases":"Win32%2FBaiduSearch+potentially+unwanted","_id":2197760,"_type":"vertex"},{"vertexType":"malware","md5hashes":"3c2a7c6796d7e6015434f5f080ad15bb","source":"CleanMx(virus)","name":"CleanMx_57880851","aliases":"Win32%2FBaiduSearch+potentially+unwanted","_id":2198784,"_type":"vertex"},{"vertexType":"malware","md5hashes":"4372042103cad6c9fa57e957903d9523","source":"CleanMx(virus)","name":"CleanMx_57880848","aliases":"unknown_exe","_id":2200832,"_type":"vertex"},{"vertexType":"malware","md5hashes":"817f4c92f872e83c3462aad5d7ad822e","source":"CleanMx(virus)","name":"CleanMx_57880847","aliases":"HEUR%2FQVM03.0.Malware.Gen","_id":2202880,"_type":"vertex"},{"vertexType":"malware","source":"CleanMx(virus)","name":"CleanMx_57880846","aliases":"HEUR%2FQVM10.1.Malware.Gen","_id":2205184,"_type":"vertex"},{"vertexType":"malware","md5hashes":"96412bdf3a05079a79d7747844938fbf","source":"CleanMx(virus)","name":"CleanMx_57880834","aliases":"TR%2FRootkit.Gen2","_id":2206464,"_type":"vertex"}]

  p Get <strong>all vulnerabilities</strong> using paging: <kbd>curl -XGET -i -H 'accept-encoding: application/json' <span data-hook="apiUrl"></span>/api/search\?vertexType\=software\&pageSize\=2\&page\=0</kbd>, and then: <kbd>curl -XGET -i -H 'accept-encoding: application/json' <span data-hook="apiUrl"></span>/api/search\?vertexType\=software\&pageSize\=2\&page\=1</kbd>. The first page is always `page=0`.


  h4 Get counts
  p Get <strong>count of all nodes</strong>:  <kbd>curl -XGET -i -H 'accept-encoding: application/json' <span data-hook="apiUrl"></span>/api/nodes/count</kbd>
  pre.
    $ curl -XGET -i -H 'accept-encoding: application/json' <span data-hook="apiUrl"></span>/api/nodes/count
    HTTP/1.1 200 OK
    X-Powered-By: Express
    X-XSS-Protection: 1; mode=block
    X-Content-Type-Options: nosniff
    Content-Type: application/json; charset=utf-8
    Content-Length: 16
    ETag: W/"10-b7ad1a22"
    Vary: Accept-Encoding
    Date: Fri, 20 Feb 2015 20:25:37 GMT
    Connection: keep-alive

    {"count":207194}

  p Get <strong>count of nodes for a particular type</strong>:  <kbd>curl -XGET -i -H 'accept-encoding: application/json' <span data-hook="apiUrl"></span>/api/nodes/count\?vertexType\=malware</kbd>
  pre.
    $ curl -XGET -i -H 'accept-encoding: application/json' <span data-hook="apiUrl"></span>/api/nodes/count\?vertexType\=malware
    HTTP/1.1 200 OK
    X-Powered-By: Express
    X-XSS-Protection: 1; mode=block
    X-Content-Type-Options: nosniff
    Content-Type: application/json; charset=utf-8
    Content-Length: 14
    ETag: W/"e-eb217abf"
    Vary: Accept-Encoding
    Date: Fri, 20 Feb 2015 20:45:56 GMT
    Connection: keep-alive

    {"count":3356}

