
dl.dl-horizontal
	dt Source
	dd(data-hook=source)
	dt NVD Id
	dd(data-hook=nvdId)
	dt Status
	dd(data-hook=status)
	dt Modified Date
	dd(data-hook=modifiedDate)
	dt Part
	dd(data-hook=part)
	dt Vendor
	dd(data-hook=vendor)
	dt Product
	dd(data-hook=product)
	dt Version
	dd(data-hook=version)
	dt Update
	dd(data-hook=update)
	dt Edition
	dd(data-hook=edition)
	dt Language
	dd(data-hook=language)
	dt Process Path
	dd(data-hook=processPath)
	dt Process PID
	dd(data-hook=processPid)
	dt Process PPID
	dd(data-hook=processPpid)
	dt Process Args
	dd(data-hook=processArgs)